<span class="userinfo"><i class="fas fa-user"></i> @this.User.Identity.Name</span>
<ul>
    <li><a asp-page="/Index"><i class="fas fa-home"></i> Domů</a></li>
    <li><a asp-page="/Admin/Sites/Index"><i class="fas fa-globe"></i> Správa webů</a></li>
    <li><a asp-page="/Admin/Users/Index"><i class="fas fa-users"></i> Správa uživatelů</a></li>
    <li><a asp-page="/Admin/Security/Index"><i class="fas fa-lock-alt"></i> Bezpečnost</a></li>
    <li><a asp-page="/Account/Logout"><i class="fas fa-sign-out"></i> Odhlášení</a></li>
</ul>