@page
@model IndexModel
@{ this.ViewBag.Title = "Vítejte"; }
<h2>@this.ViewBag.Title</h2>
<ul>
    <li><i class="fas fa-globe"></i> Weby</li>
    <li><i class="fas fa-users"></i> Uživatelé</li>
    <li><i class="fas fa-key"></i> Bezpečnost</li>
</ul>