@page
@{ this.ViewBag.Title = "Změna e-mailové adresy"; }
<h2>@this.ViewBag.Title</h2>
<p>
	Na zadanou adresu byl zaslán potvrzovací mail.
	Pro provedení změny přejděte na adresu kterou v něm najdete.
</p>