@font-face {
    font-family: 'ibm_plex_mono';
    src: local("IBM Plex Mono Bold"), url("Fonts/IBM_Plex/ibmplexmono-bold-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_mono';
    src: local("IBM Plex Mono Bold Italic"), url("Fonts/IBM_Plex/ibmplexmono-bolditalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-bolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_mono';
    src: local("IBM Plex Mono Italic"), url("Fonts/IBM_Plex/ibmplexmono-italic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_mono';
    src: local("IBM Plex Mono Regular"), url("Fonts/IBM_Plex/ibmplexmono-regular-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sans';
    src: local("IBM Plex Sans Bold"), url("Fonts/IBM_Plex/ibmplexsans-bold-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sans';
    src: local("IBM Plex Sans Bold Italic"), url("Fonts/IBM_Plex/ibmplexsans-bolditalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-bolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_sans';
    src: local("IBM Plex Sans Italic"), url("Fonts/IBM_Plex/ibmplexsans-italic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_sans';
    src: local("IBM Plex Sans Light"), url("Fonts/IBM_Plex/ibmplexsans-light-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sans';
    src: local("IBM Plex Sans Light Italic"), url("Fonts/IBM_Plex/ibmplexsans-lightitalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-lightitalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_sans';
    src: local("IBM Plex Sans Regular"), url("Fonts/IBM_Plex/ibmplexsans-regular-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_serif';
    src: local("IBM Plex Serif Bold"), url("Fonts/IBM_Plex/ibmplexserif-bold-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_serif';
    src: local("IBM Plex Serif Bold Italic"), url("Fonts/IBM_Plex/ibmplexserif-bolditalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-bolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_serif';
    src: local("IBM Plex Serif Italic"), url("Fonts/IBM_Plex/ibmplexserif-italic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_serif';
    src: local("IBM Plex Serif Light"), url("Fonts/IBM_Plex/ibmplexserif-light-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_serif';
    src: local("IBM Plex Serif Light Italic"), url("Fonts/IBM_Plex/ibmplexserif-lightitalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-lightitalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ibm_plex_serif';
    src: local("IBM Plex Serif Regular"), url("Fonts/IBM_Plex/ibmplexserif-regular-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
