@import "_vars.scss";

@mixin button {
    display:inline-block;
    text-align:center;
    font-family: $FontSans;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid $Green;
    background-color: $Green;
    color: $TrueWhite;
    padding: 1ex 3ex;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: $Orange;
        border: 1px solid $Orange;
    }

    &.secondary {
        background-color: $White;
        color: $Green;

        &:hover {
            color: $Orange;
        }
    }
}


form {
    input {
        box-sizing: border-box;

        &[type=text], &[type=password], textarea {
            font-family: $FontMono;
            font-size: 15px;
            padding: 1ex;
            width: 100%;
            background-color: lighten($Green, 50);
            border: none;
            border-radius: 3px;

            &:focus {
                border: 1px solid $Green;
            }
        }

        &[type=submit], &[type=button] {
            @include button;
        }

        &[type=checkbox] {
            width: 20px;
            height: 20px;
            vertical-align: text-bottom;
        }
    }
}

a.button {
    @include button;
}

table.form {
    background-color: $TrueWhite;
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-radius: 1ex;

    tbody {
        th {
            font-weight: normal;
            width: 20%;
            text-align: left;
            padding: 1ex 1ex 0 1ex;
            white-space: nowrap;
        }

        td {
            padding: 1ex 1ex 0 0;

            &:nth-last-child(1) {
                padding-bottom: 1ex;
            }
        }
    }

    tfoot {
        td, th {
            border-top: 1px dotted lighten($Green, 30);
            padding: 1ex 1ex 1ex 0;
        }
    }

    .validation-summary-valid {
        display: none;
    }

    .validation-summary-errors {
        border-radius: 3px;
        background-color: lighten($Orange, 40);
        color: $Orange;
        padding: 1ex;
        margin-bottom: 1ex;

        ul {
            margin: 0;
        }
    }
}
