@import "_vars.scss";

html {
    font-family: $FontSans;
    font-size: 16px;
    background-color: $White;
    color: $Black;

    body {
        max-width: 1000px;
        margin: 0 auto;

        > nav {
            background-color: $Black;
            color: $White;
            padding: $Padding;

            .userinfo {
                float: right;
                font-size: 80%;
                font-weight: bold;
                line-height: 160%;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 $Padding 0 0;
                    padding: 0;
                    display: inline;
                }
            }

            a {
                text-decoration: none;

                &:link {
                    color: $White;
                }

                &:visited {
                    color: $White;
                }

                &:hover {
                    color: $Green;
                }
            }
        }

        > main {
            line-height: 160%;
        }

        > footer {
            font-family: $FontSerif;
            font-size: 12px;
            text-align: right;
            color: $Orange;
            border-top: 2px solid $Orange;
            margin: 3ex 0;
            padding: 1ex 0 0 0;
        }
    }
}

a {
    &:link {
        color: $Orange;
    }

    &:visited {
        color: $Black;
    }

    &:hover {
        color: $Green;
    }
}

h1 {
    font-family: $FontSerif;
    font-weight: 300;
    font-size: 36px;
    margin: 1ex 0;
    padding: 0 0 .5ex 0;
    color: $Orange;
    border-bottom: 2px solid $Orange;
}

h2 {
    font-family: $FontSerif;
    font-weight: 300;
    font-size: 26px;
    color: $Green;
    margin: 1ex 0;
    padding: 0;
}

code, .code {
    font-family: $FontMono;
}

ul.tasklist {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        @include rounded;
        background-color: $TrueWhite;
        margin: $Padding 0;
        padding: $Padding;
        display: block;

        i.far {
            color: $Green;
            margin-right: $Padding / 2;
        }
    }
}
