$FontMono: 'IBM Plex Mono', Consolas, 'Courier New', Courier, Monospace;
$FontSans: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
$FontSerif: 'IBM Plex Serif', Cambria, serif;
$Black: #333;
$TrueBlack: #000;
$White: #eee;
$TrueWhite: #fff;
$Orange: #f26631;
$Green: #439539;
