$FontMono: 'ibm_plex_mono', Consolas, 'Courier New', Courier, Monospace;
$FontSans: 'ibm_plex_sans', Arial, Helvetica, sans-serif;
$FontSerif: 'ibm_plex_serif', Cambria, serif;
$Black: #333;
$TrueBlack: #000;
$White: #eee;
$TrueWhite: #fff;
$Orange: #f26631;
$Green: #439539;
$Padding: 10px;


@mixin rounded() {
    border-radius: $Padding/3;
}