@font-face {
  font-family: 'ibm_plex_mono';
  src: local("IBM Plex Mono Bold"), url("Fonts/IBM_Plex/ibmplexmono-bold-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ibm_plex_mono';
  src: local("IBM Plex Mono Bold Italic"), url("Fonts/IBM_Plex/ibmplexmono-bolditalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_mono';
  src: local("IBM Plex Mono Italic"), url("Fonts/IBM_Plex/ibmplexmono-italic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_mono';
  src: local("IBM Plex Mono Regular"), url("Fonts/IBM_Plex/ibmplexmono-regular-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ibm_plex_sans';
  src: local("IBM Plex Sans Bold"), url("Fonts/IBM_Plex/ibmplexsans-bold-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ibm_plex_sans';
  src: local("IBM Plex Sans Bold Italic"), url("Fonts/IBM_Plex/ibmplexsans-bolditalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_sans';
  src: local("IBM Plex Sans Italic"), url("Fonts/IBM_Plex/ibmplexsans-italic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_sans';
  src: local("IBM Plex Sans Light"), url("Fonts/IBM_Plex/ibmplexsans-light-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ibm_plex_sans';
  src: local("IBM Plex Sans Light Italic"), url("Fonts/IBM_Plex/ibmplexsans-lightitalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_sans';
  src: local("IBM Plex Sans Regular"), url("Fonts/IBM_Plex/ibmplexsans-regular-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ibm_plex_serif';
  src: local("IBM Plex Serif Bold"), url("Fonts/IBM_Plex/ibmplexserif-bold-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ibm_plex_serif';
  src: local("IBM Plex Serif Bold Italic"), url("Fonts/IBM_Plex/ibmplexserif-bolditalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_serif';
  src: local("IBM Plex Serif Italic"), url("Fonts/IBM_Plex/ibmplexserif-italic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_serif';
  src: local("IBM Plex Serif Light"), url("Fonts/IBM_Plex/ibmplexserif-light-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ibm_plex_serif';
  src: local("IBM Plex Serif Light Italic"), url("Fonts/IBM_Plex/ibmplexserif-lightitalic-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'ibm_plex_serif';
  src: local("IBM Plex Serif Regular"), url("Fonts/IBM_Plex/ibmplexserif-regular-webfont.woff2") format("woff2"), url("Fonts/IBM_Plex/ibmplexserif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: "ibm_plex_sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #eee;
  color: #333; }
  html body {
    max-width: 1000px;
    margin: 0 auto; }
    html body > nav {
      background-color: #333;
      color: #eee;
      padding: 10px; }
      html body > nav .userinfo {
        float: right;
        font-size: 80%;
        font-weight: bold;
        line-height: 160%; }
      html body > nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        html body > nav ul li {
          margin: 0 10px 0 0;
          padding: 0;
          display: inline; }
      html body > nav a {
        text-decoration: none; }
        html body > nav a:link {
          color: #eee; }
        html body > nav a:visited {
          color: #eee; }
        html body > nav a:hover {
          color: #439539; }
    html body > main {
      line-height: 160%; }
    html body > footer {
      font-family: "ibm_plex_serif", Cambria, serif;
      font-size: 12px;
      text-align: right;
      color: #f26631;
      border-top: 2px solid #f26631;
      margin: 3ex 0;
      padding: 1ex 0 0 0; }

a:link {
  color: #f26631; }

a:visited {
  color: #333; }

a:hover {
  color: #439539; }

h1 {
  font-family: "ibm_plex_serif", Cambria, serif;
  font-weight: 300;
  font-size: 36px;
  margin: 1ex 0;
  padding: 0 0 .5ex 0;
  color: #f26631;
  border-bottom: 2px solid #f26631; }

h2 {
  font-family: "ibm_plex_serif", Cambria, serif;
  font-weight: 300;
  font-size: 26px;
  color: #439539;
  margin: 1ex 0;
  padding: 0; }

code, .code {
  font-family: "ibm_plex_mono", Consolas, "Courier New", Courier, Monospace; }

ul.tasklist {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.tasklist li {
    border-radius: 3px;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    display: block; }
    ul.tasklist li i.far {
      color: #439539;
      margin-right: 5px; }

form input {
  box-sizing: border-box; }
  form input[type=text], form input[type=password], form input[type=email], form input[type=url], form input textarea, form input .textbox {
    border-radius: 3px;
    font-family: "ibm_plex_mono", Consolas, "Courier New", Courier, Monospace;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    background-color: #def1dc;
    border: 1px solid #def1dc; }
    form input[type=text].input-validation-error, form input[type=password].input-validation-error, form input[type=email].input-validation-error, form input[type=url].input-validation-error, form input textarea.input-validation-error, form input .textbox.input-validation-error {
      background-color: #fde3d9;
      border: 1px solid #f26631; }
    form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form input[type=url]:focus, form input textarea:focus, form input .textbox:focus {
      border: 1px solid #439539; }
  form input[type=submit], form input[type=button] {
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    font-family: "ibm_plex_sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #439539;
    background-color: #439539;
    color: #fff;
    padding: 10px 3ex;
    text-decoration: none;
    cursor: pointer;
    line-height: 100%; }
    form input[type=submit]:hover, form input[type=button]:hover {
      background-color: #f26631;
      border: 1px solid #f26631; }
    form input[type=submit].secondary, form input[type=button].secondary {
      background-color: #eee;
      color: #439539; }
      form input[type=submit].secondary:hover, form input[type=button].secondary:hover {
        color: #f26631; }
  form input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom; }

form select {
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "ibm_plex_mono", Consolas, "Courier New", Courier, Monospace;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  background-color: #def1dc;
  border: 1px solid #def1dc; }
  form select.input-validation-error {
    background-color: #fde3d9;
    border: 1px solid #f26631; }
  form select:focus {
    border: 1px solid #439539; }

a.button {
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  font-family: "ibm_plex_sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #439539;
  background-color: #439539;
  color: #fff;
  padding: 10px 3ex;
  text-decoration: none;
  cursor: pointer;
  line-height: 100%; }
  a.button:hover {
    background-color: #f26631;
    border: 1px solid #f26631; }
  a.button.secondary {
    background-color: #eee;
    color: #439539; }
    a.button.secondary:hover {
      color: #f26631; }

table.form {
  background-color: #fff;
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-radius: 10px; }
  table.form tbody th {
    font-weight: normal;
    width: 20%;
    text-align: left;
    padding: 10px 10px 0 10px;
    white-space: nowrap; }
  table.form tbody td {
    padding: 10px 10px 0 0; }
  table.form tbody tr:nth-last-child(1) td, table.form tbody tr:nth-last-child(1) th {
    padding-bottom: 10px; }
  table.form tfoot td, table.form tfoot th {
    border-top: 1px dotted #99d592;
    padding: 10px 10px 10px 0; }
  table.form .validation-summary-valid {
    display: none; }
  table.form .validation-summary-errors {
    border-radius: 3px;
    background-color: #fef5f1;
    color: #f26631;
    padding: 10px;
    margin-bottom: 10px; }
    table.form .validation-summary-errors ul {
      margin: 0; }

ul.toolbar {
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  background-color: rgba(242, 102, 49, 0.5);
  font-size: 125%;
  border-radius: 3px; }
  ul.toolbar li {
    margin: 0;
    padding: 0;
    display: inline; }
  ul.toolbar a {
    text-decoration: none; }
    ul.toolbar a:link, ul.toolbar a:visited {
      color: #333; }
    ul.toolbar a:hover {
      color: #eee; }

table.grid {
  border: none;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-radius: 3px; }
  table.grid tr > *:nth-child(1) {
    padding-left: 10px; }
  table.grid th, table.grid td {
    text-align: left;
    padding: 5px; }
  table.grid thead {
    border-bottom: 3px double #439539; }
  table.grid tbody tr {
    border-bottom: 1px solid #99d592; }
    table.grid tbody tr:nth-last-child(1) {
      border-bottom: none; }
    table.grid tbody tr:hover {
      background-color: #def1dc; }
  table.grid tfoot {
    border-top: 3px double #439539; }
  table.grid a {
    text-decoration: none; }

.pager p {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #439539; }

.pager .prev {
  float: left; }

.pager .next {
  float: right; }

