@page
@model ChangePasswordModel
@{ this.ViewBag.Title = "Změna hesla"; }
<h2>@this.ViewBag.Title</h2>
<form method="post">
    <table class="form">
        <tbody>
            <tr>
                <th><label asp-for="Input.OldPassword"></label></th>
                <td><input asp-for="Input.OldPassword" /></td>
            </tr>
            <tr>
                <th><label asp-for="Input.NewPassword"></label></th>
                <td><input asp-for="Input.NewPassword" /></td>
            </tr>
            <tr>
                <th><label asp-for="Input.ConfirmPassword"></label></th>
                <td><input asp-for="Input.ConfirmPassword" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <div asp-validation-summary="All"></div>
                    <input type="submit" value="Odeslat" />
                    <a asp-page="Index" class="button secondary">Storno</a>
                </td>
            </tr>
        </tfoot>
    </table>
</form>