@page
@{ this.ViewBag.Title = "Bezpečnostní nastavení"; }
<h2>@this.ViewBag.Title</h2>
<ul class="tasklist">
    <li>
        <i class="far fa-fw fa-envelope"></i>
        <a asp-page="ChangeEmail">Změna e-mailové adresy</a>
    </li>
    <li>
        <i class="far fa-fw fa-key"></i>
        <a asp-page="ChangePassword">Změna hesla</a>
    </li>
    <li>
        <i class="far fa-fw fa-lock-alt"></i>
        <a asp-page="SetupOtp">Nastavení dvoufaktorové autentizace</a>
    </li>
    <li>
        <i class="far fa-fw fa-code"></i>
        <a asp-page="ApiKey">API klíč</a>
    </li>
</ul>