@page
@{ this.ViewBag.Title = "Bezpečnostní nastavení"; }
<h2>@this.ViewBag.Title</h2>
<ul class="fa-ul">
    <li><a asp-page="ChangeEmail"><span class="fa-li"><i class="fas fa-envelope"></i></span> Změna e-mailové adresy</a></li>
    <li><a asp-page="ChangePassword"><span class="fa-li"><i class="fas fa-key"></i></span> Změna hesla</a></li>
    <li><a asp-page="SetupOtp"><span class="fa-li"><i class="fas fa-lock-alt"></i></span> Nastavení dvoufaktorové autentizace</a></li>
    <li><a asp-page="ApiKey"><span class="fa-li"><i class="fas fa-code"></i></span> API klíč</a></li>
</ul>